third_party/segment-anything-2
third_party/GroundingDINO
huggingface_hub
scipy
tensorboard
opt_einsum
imageio
opencv-python
scikit-image
einops
matplotlib
plotly
open3d==0.17.0
jupyterlab
k3d
trimesh
ipympl
tqdm
plyfile
moviepy==1.0.3